body {
    background-image: url(back.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    text-align: center;
    background: #fff; 
}

nav ul li{
    margin: 0 20;
    font-size: large;
    display: inline-block;
}

#introduction{
    width: 300;
    float: left;
    margin-right: 30px;
}

#form{
    width: 300;
    float: left;
    margin-right: 30px;
}

h2 p a img{
    display: inline-block;
}




